.main-container{
    height: 260px;
    background: rgb(34, 34, 82);
    max-width: 410px;
    border-radius: 7px;
    padding: 16px 25px;
    transition: height .5s ease;
}


.main-container :where(input,button){
    width: 100%;
    height: 55px;
    border:none;
    border-radius: 7px;

}

.main-container.active{
    height: 530px;
}
